<!DOCTYPE html>
<html>
<head>
    <title>AI Sales Assistant</title>
</head>
<body>

    <h1>AI Sales Assistant</h1>

    <hr>

    <a href="/login">
    <button>Login</button>
    </a>

    <form method="POST">

        <label>Product Name:</label><br>
        <input type="text" name="product"><br><br>

        <button type="submit">Check Product</button>

    </form>

    <hr>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    {% if result %}

        <h2>Product Found</h2>

        <p>ID: {{ result[0] }}</p>
        <p>Name: {{ result[1] }}</p>
        <p>Stock: {{ result[2] }}</p>
        <p>Price: ${{ result[3] }}</p>

    {% endif %}

</body>
</html>